In [8]:
#odd number using  for loop
for i in range(1,50):
    if i%2 !=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [18]:
#squring each element in the list of items
lst=[1,2,3,4,5,6,7,8,9,10]
for i in lst:
     print(i**2)

1
4
9
16
25
36
49
64
81
100

In [20]:
lst=[1,3,4,5,2,4,6,6,6,7,8,99,9,99,99]
unique=set(lst)
print(unique)

{1, 2, 3, 4, 5, 6, 7, 8, 99, 9}

In [1]:
# Initialize an empty list to store movie names
movies_names=[]
# infinite loop to collect movie names
while True:
    movie=input("enter movie name(type'STOP' to end):")
    # Check if the user wants to stop (case-insensitive comparison)
    #if  movie=="STOP":     #here if i hvnt mentioned any upper or lower() then it will follow which case i have given LIKE if ihave given ==any digit if you enter that digit thn n thn it will stop otherwise it will your entry as an input
    if movie.upper()=='STOP':  # Fixed: 'stop' changed to 'STOP' to match the uppercase comparison
        # Inform the user that the program recognized the stop command
        print("you said STOP")
        # Exit the loop
        break
    # Add the entered movie name to the list
    movies_names.append(movie)

enter movie name(type'STOP' to end): J
enter movie name(type'STOP' to end): K
enter movie name(type'STOP' to end): L
enter movie name(type'STOP' to end): STOP

you said STOP

In [17]:
#IDENTITY OPERATORS
a=[1,3,4,5]
b=a
c=[1,2,3]
a in b
b in c
a not in b
a is b
b is a
c is b
a is c
a is not c

True

In [23]:
#printing numbers from 1 -10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
#caluclating user input"s sum
sum=0
num=int(input("enter the numbers you wanna add:"))
for i in range(1,num+1):
    sum=sum+i
    print("sum is:",sum) #down side of sum printing statement

enter the numbers you wanna add: 2

sum is: 1
sum is: 3

In [1]:
# Calculating sum of numbers from 1 to n (user input)
sum = 0  # Initialize sum to 0
num = int(input("enter the number up to which you want to add:"))  # Get upper limit from user
for i in range(1, num + 1):  # Loop from 1 to num (inclusive)
    sum = sum + i  # Add each number to the running sum
print("The total sum is:", sum)  # Print only the final sum

enter the number up to which you want to add: 2

The total sum is: 3

In [43]:
# Program to print multiplication table of 5
for i in range(1, 21):
    for j in range(1,11):# Loop from 1 to 10
        result = i * j     
        print(f"{i} × {j} = {result}")

1 × 1 = 1
1 × 2 = 2
1 × 3 = 3
1 × 4 = 4
1 × 5 = 5
1 × 6 = 6
1 × 7 = 7
1 × 8 = 8
1 × 9 = 9
1 × 10 = 10
2 × 1 = 2
2 × 2 = 4
2 × 3 = 6
2 × 4 = 8
2 × 5 = 10
2 × 6 = 12
2 × 7 = 14
2 × 8 = 16
2 × 9 = 18
2 × 10 = 20
3 × 1 = 3
3 × 2 = 6
3 × 3 = 9
3 × 4 = 12
3 × 5 = 15
3 × 6 = 18
3 × 7 = 21
3 × 8 = 24
3 × 9 = 27
3 × 10 = 30
4 × 1 = 4
4 × 2 = 8
4 × 3 = 12
4 × 4 = 16
4 × 5 = 20
4 × 6 = 24
4 × 7 = 28
4 × 8 = 32
4 × 9 = 36
4 × 10 = 40
5 × 1 = 5
5 × 2 = 10
5 × 3 = 15
5 × 4 = 20
5 × 5 = 25
5 × 6 = 30
5 × 7 = 35
5 × 8 = 40
5 × 9 = 45
5 × 10 = 50
6 × 1 = 6
6 × 2 = 12
6 × 3 = 18
6 × 4 = 24
6 × 5 = 30
6 × 6 = 36
6 × 7 = 42
6 × 8 = 48
6 × 9 = 54
6 × 10 = 60
7 × 1 = 7
7 × 2 = 14
7 × 3 = 21
7 × 4 = 28
7 × 5 = 35
7 × 6 = 42
7 × 7 = 49
7 × 8 = 56
7 × 9 = 63
7 × 10 = 70
8 × 1 = 8
8 × 2 = 16
8 × 3 = 24
8 × 4 = 32
8 × 5 = 40
8 × 6 = 48
8 × 7 = 56
8 × 8 = 64
8 × 9 = 72
8 × 10 = 80
9 × 1 = 9
9 × 2 = 18
9 × 3 = 27
9 × 4 = 36
9 × 5 = 45
9 × 6 = 54
9 × 7 = 63
9 × 8 = 72
9 × 9 = 81
9 × 10 = 90
10 × 1 = 10
10 × 2 = 20
10 × 3 = 30
10 × 4 = 40
10 × 5 = 50
10 × 6 = 60
10 × 7 = 70
10 × 8 = 80
10 × 9 = 90
10 × 10 = 100
11 × 1 = 11
11 × 2 = 22
11 × 3 = 33
11 × 4 = 44
11 × 5 = 55
11 × 6 = 66
11 × 7 = 77
11 × 8 = 88
11 × 9 = 99
11 × 10 = 110
12 × 1 = 12
12 × 2 = 24
12 × 3 = 36
12 × 4 = 48
12 × 5 = 60
12 × 6 = 72
12 × 7 = 84
12 × 8 = 96
12 × 9 = 108
12 × 10 = 120
13 × 1 = 13
13 × 2 = 26
13 × 3 = 39
13 × 4 = 52
13 × 5 = 65
13 × 6 = 78
13 × 7 = 91
13 × 8 = 104
13 × 9 = 117
13 × 10 = 130
14 × 1 = 14
14 × 2 = 28
14 × 3 = 42
14 × 4 = 56
14 × 5 = 70
14 × 6 = 84
14 × 7 = 98
14 × 8 = 112
14 × 9 = 126
14 × 10 = 140
15 × 1 = 15
15 × 2 = 30
15 × 3 = 45
15 × 4 = 60
15 × 5 = 75
15 × 6 = 90
15 × 7 = 105
15 × 8 = 120
15 × 9 = 135
15 × 10 = 150
16 × 1 = 16
16 × 2 = 32
16 × 3 = 48
16 × 4 = 64
16 × 5 = 80
16 × 6 = 96
16 × 7 = 112
16 × 8 = 128
16 × 9 = 144
16 × 10 = 160
17 × 1 = 17
17 × 2 = 34
17 × 3 = 51
17 × 4 = 68
17 × 5 = 85
17 × 6 = 102
17 × 7 = 119
17 × 8 = 136
17 × 9 = 153
17 × 10 = 170
18 × 1 = 18
18 × 2 = 36
18 × 3 = 54
18 × 4 = 72
18 × 5 = 90
18 × 6 = 108
18 × 7 = 126
18 × 8 = 144
18 × 9 = 162
18 × 10 = 180
19 × 1 = 19
19 × 2 = 38
19 × 3 = 57
19 × 4 = 76
19 × 5 = 95
19 × 6 = 114
19 × 7 = 133
19 × 8 = 152
19 × 9 = 171
19 × 10 = 190
20 × 1 = 20
20 × 2 = 40
20 × 3 = 60
20 × 4 = 80
20 × 5 = 100
20 × 6 = 120
20 × 7 = 140
20 × 8 = 160
20 × 9 = 180
20 × 10 = 200

In [ ]:
for i in range(1,16):
    for j in range(1,11):
        res=i*j
    print(f"{i} *{j}=res")