In [6]:
#1)Take a list of name and convert those all names into upper case Words.

listChar=["arav","mouna","smitha"]
for i in listChar:
    print(i.upper())

ARAV
MOUNA
SMITHA

In [18]:
#2)FIND LEN OF LIST
listChar=["arav","mouna","smitha"]
for i in listChar:
    print(i,"=",len(i))

arav = 4
mouna = 5
smitha = 6

In [28]:
#3)create one list of elements and take specific element and position of elemet from user and add that elements at that position...
a=["banana","mango","grapes","apple"]
Pos=int(input("enter the position you wanna add the element:"))
elem=input("enter the element which you wanna add in the list:")
a.insert(Pos,elem)
print(a)

enter the position you wanna add the element: 0
enter the element which you wanna add in the list: pineapple

['pineapple', 'banana', 'mango', 'grapes', 'apple']

In [23]:
#creating two diffrent list for even and odd
even=[]
odd=[]
list_num=list(range(1,101))
#print(list_num)
for num  in list_num:
    if num%2==0:
        even.append(num)
        #print(num)
    else:
        odd.append(num)
        #print(num)
print("this is even list of numbers:",even,"\n")      
print("this is odd list of numbers:",odd)

this is even list of numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

this is odd list of numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [29]:
#creating two list for each even and odd numbers,using concept of comprahension
list_of_numbers=list(range(0,100))
even_No=[n for n in list_of_numbers if n%2==0]
odd_No=[n for n in list_of_numbers if n%2!=0]

print(even_No,"\n")
print(odd_No)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [33]:
#write a program to convert to list of strings to integers
list_of_no=['12','23','67','56','12','90']
con_to_integer=[int(n) for n in list_of_no]
print(con_to_integer)
sum(con_to_integer)

[12, 23, 67, 56, 12, 90]

260

In [16]:
#create a set from list of elements
list_items=['1','2','abc']
a=set(list_items)
print(a)

{'abc', '2', '1'}

In [15]:
#get size of list and tuple and set
from sys import getsizeof
tuple_items=1,2,3,
print("tuple size is:",getsizeof(tuple_items))

list_items=[1,2,3]
print("list size is:",getsizeof(list_items))

set_of_items=set([1,2,3,4])#set expects i argument so using list inside set
print("set size is:",getsizeof(set_of_items))


#set_of_items=set([1,(2,3),4])#set expects i argument so using list inside set
#it can allow tuple in side the list of the set because tuple is mutable
#print("set size is:",getsizeof(set_of_items))


#set_of_items=set([1,[2,3],4])#above mentioned..in here list is mutable so ERROR: unhashable type:'list'
#print("set size is:",getsizeof(set_of_items))


#set_of_items=set([1,{2,3},4])#above mentioned..in here list is mutable so ERROR: unhashable type:'dict'
#print("set size is:",getsizeof(set_of_items))

tuple size is: 64
list size is: 88
set size is: 216

In [18]:
#DICTIONARY 
#create empty set
empty_dict={}
print(empty_dict)
#add some key values pairs
example_dict={"name":"priyanka","age":24}
print(example_dict)

{}
{'name': 'priyanka', 'age': 24}

In [1]:
#take two lists of same size n make first list members as key and second list elements as values
key_items=['name','age','address']
values_items=['prianka',24,'basaweshwarnagar']
merge_items=dict(zip(key_items,values_items))
print(merge_items)

{'name': 'prianka', 'age': 24, 'address': 'basaweshwarnagar'}

In [2]:
#take one lists of duplicate values,and make a dictionary which key is list element and values is number of occurence  element in that list
from collections import Counter
duplicate_valueslist=[1,2,3,3,4,1,3,4,5,5]
dict_ionary=dict(Counter(duplicate_valueslist))
print(dict_ionary)

{1: 2, 2: 1, 3: 3, 4: 2, 5: 2}

In [12]:
#write a python program to iterate over dictionary usig for loops
#method1:
dictionary={'name': 'prianka', 'age': 24, 'address': 'basaweshwarnagar'}
for i in dictionary:
    print(i)

name
age
address

In [15]:
#write a python program to iterate over dictionary usig for loops
#method1:
alpha_numlist=[['film name','KANTARA'],['hero','RISHAB_SHETTY']]
dict(alpha_numlist)

{'film name': 'KANTARA', 'hero': 'RISHAB_SHETTY'}

In [24]:
#write a python program,take one numbers list and create new dictionary its key is number and value is square of that number from number list.
lists=[1,2,3,4,5,6]
dictt={}
for num in lists:
    dictt[num]=num**2
print(dictt)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}