In [2]:
#tuple

#creating tuple of numbers 1-5
tuple_of_no=(1,2,3,4,5)
print(tuple_of_no)

(1, 2, 3, 4, 5)

In [8]:
tuple_num=1,2,3,4,
print(tuple_num)

(1, 2, 3, 4)

In [16]:
#create a single value tuple
single_value_tuple="sriiii",
print(single_value_tuple)

('sriiii',)

In [28]:
#write python program to calculate the average value of the nubers in a given tuple
num=(2,4,5,6,7,)
sum(num)/len(num)

4.8

In [36]:
#4)write a python program to convert a tuple of string values to a tuple of integer values
tuple_of_strValues='1','4','6','4',
n=(int(n) for n in tuple_of_strValues)

In [9]:
#5)wrie a py program to get size of tuple
tuple_of_strValues='1','4','6','4',
len(tuple_of_strValues)
#int_values=(int(n) for n in tuple_of_strValues)

4

In [19]:
#6)write a python program to convert a tuple of string values to a tuple of integers values
tuple_of_strValues=('1','4','6','4')
int_tuple=tuple(int(n) for n in tuple_of_strValues)
print(int_tuple)

(1, 4, 6, 4)

In [21]:
# Method 1: Using map()
string_tuple = ("1", "2", "3", "4", "5")
int_tuple = tuple(map(int, string_tuple))
print(int_tuple)

(1, 2, 3, 4, 5)

In [17]:
#method 2: Using tuple comprehension
string_tuple = ("10", "20", "30", "40")
int_tuple = tuple(int(x) for x in string_tuple)
print(int_tuple)

(10, 20, 30, 40)

In [39]:
print(0)

0

In [75]:
#set
#1)write a program to create set of even numbers only...
set_even_numbers=set(range(20))
for n in set_even_numbers:
    if n%2==0:
        print(f"even numbers are\t\t\t{n}")

even numbers are			0
even numbers are			2
even numbers are			4
even numbers are			6
even numbers are			8
even numbers are			10
even numbers are			12
even numbers are			14
even numbers are			16
even numbers are			18

In [109]:
#2)write a program to get size of set.
#in set() we can only pass a argument which
#can be itrable example like list or tuple
#method 1:using tuple
set_items=set((7,2,4,"f",3))
len(set(set_items))
print(set_items)

{2, 3, 4, 7, 'f'}

In [8]:
#finding size using getsizeof(tuple,set,list)
from sys import getsizeof
set_items=set((7,2,4,"f",3))
print("set_list:",getsizeof(set_items))

tuple_items=set(1,22,3,[3,4],9)#in set only 1 argument can pass
print("tuple_list:",getsizeof(tuple_items))

tuple_items=set({3,[5,'n',7],6,4})#in set only 1 argument can pass
print("tuple_list:",getsizeof(tuple_items))

set_list: 728

TypeError: set expected at most 1 argument, got 5

In [111]:
#method 1:using list
set_items=set([10,33,"fabbb",7,2,4,"f"])
len(set(set_items))
print(set_items)

{33, 2, 4, 7, 10, 'f', 'fabbb'}

In [119]:
#write a program to convert set into tuple
set_items={1,3,4,5,}
tuple(set_items)
print(set_items)

{1, 3, 4, 5}

In [10]:
#write a program to create an empty set
empty_set=set()
print(empty_set)

set()

In [12]:
#create a set from list of elements
list_items=[12,45,7,8,95,'b']
set_items=set(list_items)
print(set_items)

{'b', 7, 8, 12, 45, 95}

In [20]:
#DICTIONARY
#create an empty dict and add some key value pairs
#method 1:adding elemts by using key
empty_dict={}
print(empty_dict)
empty_dict['key']='value'
empty_dict['name']='priiii'

print(empty_dict)

{}
{'key': 'value', 'name': 'priiii'}

In [22]:
#DICTIONARY
#create an empty dict and add some key value pairs
#method 2:adding elemts by update()
empty_dict={}
print(empty_dict)
empty_dict.update({'key':'value','name':'Leo'})
print(empty_dict)

{}
{'key': 'value', 'name': 'Leo'}

In [24]:
#DICTIONARY
#create an empty dict and add some key value pairs
#method 1:adding elemts by setdefault
empty_dict={}
print(empty_dict)
empty_dict.setdefault('key','value')
print(empty_dict)

{}
{'key': 'value'}

In [38]:
# Create two lists & then merge into a dict
key_values = ['name', 'age', 'rollNo', 'marks']
list_values = ['priiyuuu', 24,66, 90]

# Merge lists into a dictionary
merge_listsAs_dict = dict(zip(key_values, list_values))

# Print the resulting dictionary
print(merge_listsAs_dict)

{'name': 'priiyuuu', 'age': 24, 'rollNo': 66, 'marks': 90}

In [78]:
#duplicate items of list and the key is list's items name and value is occurence of ecah itemsin the list
#using 'Counter' class from 'collections' module
from collections import Counter
dulpicate_listItems=[1,3,3,5,6,3,3,4,5,7,7,7]
print("\nlist items are:-",dulpicate_listItems)

dict_ionary1 = dict(Counter(dulpicate_listItems))
print("the merged dictionary will like this:-\n",dict_ionary1)
print("\t")

duplicate_tupleItems=1,2,3,4,5,5,4,3,2,1,2,'q','w','q',
print("\ntuple items are:-",dulpicate_tupleItems)
dict_ionary2=dict(Counter(duplicate_tupleItems))
print("the merged dict like this:-\n",dict_ionary2)

list items are:- [1, 3, 3, 5, 6, 3, 3, 4, 5, 7, 7, 7]
the merged dictionary will like this:-
 {1: 1, 3: 4, 5: 2, 6: 1, 4: 1, 7: 3}


tuple items are:- (1, 2, 3, 4, 5, 5, 4, 3, 2, 1, 2, 'q', 'w', 'q')
the merged dict like this:-
 {1: 2, 2: 3, 3: 2, 4: 2, 5: 2, 'q': 2, 'w': 1}

In [90]:
#write program in python's dictionary iterate over for loops
dictionary={1: 1, 3: 4, 5: 2, 6: 1, 4: 1, 7: 3}
#dictionary[6]#accessing by key
for i in dictionary:
    print(i)

1
3
5
6
4
7

In [104]:
#write a program,take one numbers list create new dictionary its key is number and values is square of  that number from number list
list_numbers=[2,3,4,5,6]
square_numbers={}
for n in list_numbers:
    square_numbers[n]=n**2
print(square_numbers)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36}